<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>人工智能查重</title>
    <link rel="stylesheet" href="stylesheets/index.css">
    <!-- <style>
        *{
            margin: 0;
            padding: 0;
        }

        ul {
            list-style: none;
        }

        a {
            text-decoration: none;
        }
        .container {
            margin: 4rem auto;
            position: relative;
            width: 800px;
            height: 600px;
            /* border: 1px solid #000; */
            background-color: rgb(250, 250, 250);
            box-shadow: 0 0 5px 5px rgba(100, 100, 100, .5)
        }
    </style> -->
</head>

<body>
    <div class="container">
        <div class="form-wrap">
            <p class="upload-info "><span class="upload-counter">正在上传</span></p>
            <label class="input-label active" for="files">请选择需要查重的文件</label><br>
            <input type="file" name="files" id="files"  #multiple></input>
        </div>
    </div>


    <script src="javascripts/upload.js"></script>
</body>

</html>