<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>人工智能查重</title>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.3/css/all.css
">
    <link rel="stylesheet" href="stylesheets/index.css">

</head>

<body>
    <div class="container">
        <div class="form-wrap">
            <p class="upload-info "><span class="upload-counter">正在上传</span></p>
            <label class="input-label active" for="files">请选择需要查重的文件</label><br>
            <input type="file" name="files" id="files"  #multiple></input>
        </div>
        <hr>
        <div class="list-wrap ">
            <table class="result-tb ">
                <caption top>查重结果</caption>
                <thead>
                    <tr>
                        <th >论文名称</th>
                        <th >重复率</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="loading-mod ">
            <i class="fas fa-spinner fa-spin"></i>
        </div>
    </div>


    <script src="javascripts/upload.js"></script>
    <script src="javascripts/request_result.js"></script>
</body>

</html>